@import "climates";

@each $climate in $climates {
  .wh-icon.climate.#{$climate} {
    width: 26px;
    height: 26px;
    background-size: contain;
    background-image: url("~@/assets/icons/climates/#{$climate}.png");
  }
}
