@import "flags";

@each $flag in $flags {
  .wh-icon.small.flag.#{$flag} {
    width: 24px;
    height: 24px;
    background-image: url("~@/assets/icons/flags/#{$flag}/mon_24.png");
  }

  .wh-icon.flag.#{$flag},
  .wh-icon.medium.flag.#{$flag} {
    width: 64px;
    height: 64px;
    background-image: url("~@/assets/icons/flags/#{$flag}/mon_64.png");
  }
}
